.saveButton {
position: relative;
float:right;
}

.viewButton {
    position: relative;
    float:right;
}

.resultBox {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 95%;
    margin: 0 auto;
    background-color: lightgray;
}

.floatLeft {
    position: relative;
    float: left;
}

#row1 {
    position: relative;
}

.description {
    margin-right: 3rem;
}